# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).


- 5 баллов снижается если ответ на домашнюю работу будет прислан в виде скриншота, ноутбука, текстового файла и прочих способов. Используйте при отправке на проверку только GitHub/GitLab либо прочий сервис. Присылать домашнюю работу необходимо ссылкой на ваш репозиторий на адрес электронной почты maratmovlamov2017@gmail.com


- за каждый день просрочки дедлайна снижается по 10 баллов. Один день - минус 10 баллов, второй день минус 10 баллов, третий день минус 10 баллов. Соблюдайте сроки и не приступайте к домашнему заданию в последний момент.

---

Удачи вам в поисках истинны :)

In [1]:
import numpy as np
import pandas as pd
import warnings
from pandas.core.common import SettingWithCopyWarning

warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [2]:
data = pd.read_csv('baseball_games.csv')
data.head()

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,...,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win
3,3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,...,65.0,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss
4,4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,...,77.0,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463 entries, 0 to 2462
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2463 non-null   int64
 1   attendance         2460 non-null   float64
 2   away_team          2463 non-null   object
 3   away_team_errors   2463 non-null   int64
 4   away_team_hits     2463 non-null   int64
 5   away_team_runs     2463 non-null   int64
 6   date               2463 non-null   object
 7   field_type         2463 non-null   object
 8   game_type          2463 non-null   object
 9   home_team          2463 non-null   object
 10  home_team_errors   2463 non-null   int64
 11  home_team_hits     2463 non-null   int64
 12  home_team_runs     2463 non-null   int64
 13  start_time         2463 non-null   object
 14  venue              2463 non-null   object
 15  day_of_week        2463 non-null   object
 16  temperature        2463 non-null   float64
 17  wind_speed         2463 non-null   float64
 18  wind_direction     2463 non-null   object
 19  sky                2463 non-null   object
 20  total_runs         2463 non-null   int64
 21  game_hours_dec     2463 non-null   float64
 22  season             2463 non-null   object
 23  home_team_win      2463 non-null   int64
 24  home_team_loss     2463 non-null   int64
 25  home_team_outcome  2463 non-null   object
dtypes: float64(4), int64(10), object(12)
memory usage: 500.4+ KB

In [4]:
data.loc[pd.isnull(data['attendance'])].head()

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
220,220,NaN,St. Louis Cardinals,1,8,3,2016-07-26,on grass,Day Game,New York Mets,...,90.0,11.0,out to Rightfield,Cloudy,5,3.300000,regular season,0,1,Loss
1724,1724,NaN,New York Mets,0,5,1,2016-06-07,on grass,Day Game,Pittsburgh Pirates,...,65.0,17.0,out to Centerfield,Cloudy,4,2.666667,regular season,1,0,Win
1912,1912,NaN,Cleveland Indians,2,7,6,2016-05-23,on grass,Day Game,Chicago White Sox,...,82.0,11.0,in from Leftfield,Sunny,13,3.166667,regular season,1,0,Win

In [5]:
data['attendance'].fillna(round(data['attendance'].median()), inplace = True)

In [6]:
data['season'].value_counts()

regular season    2428
post season         35
Name: season, dtype: int64

In [7]:
reg_season_data = data.loc[data['season'] == 'regular season']

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [8]:
reg_season_data.loc[reg_season_data['attendance'] == reg_season_data['attendance'].max()]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
534,534,53621.0,San Francisco Giants,1,11,2,2016-09-20,on grass,Night Game,Los Angeles Dodgers,...,77.0,6.0,out to Rightfield,Cloudy,2,3.6,regular season,0,1,Loss

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [9]:
reg_season_data.loc[reg_season_data['temperature'] == reg_season_data['temperature'].min()]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2409,2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,...,31.0,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss

# 3. Какая игра была самая теплая за весь сезон?

In [10]:
reg_season_data.loc[reg_season_data['temperature'] == reg_season_data['temperature'].max()]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2026,2026,21753.0,San Francisco Giants,0,8,3,2016-05-13,on grass,Night Game,Arizona Diamondbacks,...,101.0,9.0,in unknown direction,Sunny,4,3.0,regular season,0,1,Loss

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [11]:
reg_season_data.loc[reg_season_data['game_hours_dec'] == reg_season_data['game_hours_dec'].max()]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1445,1445,45825.0,Cleveland Indians,0,15,2,2016-07-01,on turf,Day Game,Toronto Blue Jays,...,68.0,0.0,in unknown direction,In Dome,3,6.216667,regular season,0,1,Loss

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [12]:
reg_season_data.loc[reg_season_data['game_hours_dec'] == reg_season_data['game_hours_dec'].min()]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
423,423,19991.0,Chicago Cubs,1,4,1,2016-09-29,on grass,Night Game,Pittsburgh Pirates,...,63.0,12.0,in from Leftfield,Overcast,2,1.25,regular season,0,0,Loss

# 6. Сколько матчей в сезоне закончилось ничьей?

In [13]:
reg_season_data['home_team_outcome'].value_counts()

Win     1287
Loss    1141
Name: home_team_outcome, dtype: int64

In [14]:
reg_season_data.loc[(reg_season_data['home_team_outcome'] != 'Win') & (reg_season_data['home_team_outcome'] != 'Loss')].shape[0]

0

# 7. Какая игра была последней в сезоне?

In [15]:
reg_season_data['date'] = pd.to_datetime(reg_season_data['date'])
reg_season_data.sort_values(by = 'date', ascending = False)[:1]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
386,386,44615.0,Pittsburgh Pirates,2,9,4,2016-10-02,on grass,Day Game,St. Louis Cardinals,...,71.0,6.0,out to Leftfield,Unknown,14,3.2,regular season,1,0,Win

# 8. У какой игры было минимальное количество зрителей?

In [16]:
reg_season_data.loc[reg_season_data['attendance'] == reg_season_data['attendance'].min()]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
2130,2130,8766.0,Detroit Tigers,0,5,0,2016-05-04,on grass,Night Game,Cleveland Indians,...,54.0,11.0,from Left to Right,Overcast,4,2.316667,regular season,1,0,Win

# 9. Какая игра в сезоне была самая ветренная?

In [17]:
reg_season_data.loc[reg_season_data['wind_speed'] == reg_season_data['wind_speed'].max()]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1655,1655,41543.0,Milwaukee Brewers,1,11,5,2016-06-13,on grass,Night Game,San Francisco Giants,...,58.0,25.0,out to Centerfield,Cloudy,16,3.633333,regular season,1,0,Win
2005,2005,35736.0,Houston Astros,2,8,9,2016-05-15,on grass,Day Game,Boston Red Sox,...,58.0,25.0,out to Rightfield,Cloudy,19,3.666667,regular season,1,0,Win

# 10. В какой игре получили максимальное количество очков?

In [18]:
reg_season_data.loc[data['total_runs'] == reg_season_data['total_runs'].max()]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1788,1788,22588.0,Seattle Mariners,1,16,16,2016-06-02,on grass,Night Game,San Diego Padres,...,76.0,10.0,out to Rightfield,Sunny,29,3.833333,regular season,0,1,Loss

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [19]:
reg_season_data.loc[reg_season_data['home_team_errors'] == reg_season_data['home_team_errors'].max()]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
1178,1178,22581.0,Arizona Diamondbacks,1,11,8,2016-07-27,on grass,Night Game,Milwaukee Brewers,...,77.0,9.0,in from Leftfield,Cloudy,9,2.933333,regular season,0,1,Loss

# 12. В какой игре было максимальное количество хитов?

In [20]:
reg_season_data['total_hits'] = reg_season_data['home_team_hits'] + reg_season_data['away_team_hits']

In [21]:
reg_season_data.loc[reg_season_data['total_hits'] == reg_season_data['total_hits'].max()]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_hits
1413,1413,36253.0,Texas Rangers,0,16,5,2016-07-04,on grass,Day Game,Boston Red Sox,...,11.0,out to Centerfield,Cloudy,17,3.666667,regular season,1,0,Win,37

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [22]:
home_team_df = reg_season_data['home_team'].value_counts()
away_team_df = reg_season_data['away_team'].value_counts()

home_team_df.add(away_team_df)

Arizona Diamondbacks             162
Atlanta Braves                   161
Baltimore Orioles                162
Boston Red Sox                   162
Chicago Cubs                     162
Chicago White Sox                162
Cincinnati Reds                  162
Cleveland Indians                161
Colorado Rockies                 162
Detroit Tigers                   161
Houston Astros                   162
Kansas City Royals               162
Los Angeles Angels of Anaheim    162
Los Angeles Dodgers              162
Miami Marlins                    161
Milwaukee Brewers                162
Minnesota Twins                  162
New York Mets                    162
New York Yankees                 162
Oakland Athletics                162
Philadelphia Phillies            162
Pittsburgh Pirates               162
San Diego Padres                 162
San Francisco Giants             162
Seattle Mariners                 162
St. Louis Cardinals              162
Tampa Bay Rays                   162
Texas Rangers                    162
Toronto Blue Jays                162
Washington Nationals             162
dtype: int64

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

In [23]:
team_wins = {}
for i,line in reg_season_data.iterrows():
    if line['home_team_outcome'] == 'Win':
        if line['home_team'] not in team_wins:
            team_wins[line['home_team']] = 0
        team_wins[line['home_team']]+=1
    else:
        if line['away_team'] not in team_wins:
            team_wins[line['away_team']] = 0
        team_wins[line['away_team']]+=1   
        
pd.DataFrame([{'Team' : team, 'Count Wins' : team_wins[team]} for team in team_wins]).sort_values(by = 'Count Wins', ascending = False)[:1]

            Team  Count Wins
17  Chicago Cubs         104

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

In [24]:
### первый способ

team_wins = {}
for i,line in reg_season_data.iterrows():
    if line['home_team_outcome'] == 'Win':
        if line['home_team'] not in team_wins:
            team_wins[line['home_team']] = 0
        team_wins[line['home_team']]+=1

pd.DataFrame([{'Team' : team, 'Count Home Wins' : team_wins[team]} for team in team_wins]).sort_values(by = 'Count Home Wins', ascending = False)[:1]

           Team  Count Home Wins
6  Chicago Cubs               57

In [25]:
### второй способ

def is_win(row):
    return 1 if row['home_team_outcome'] == 'Win' else 0
    
reg_season_data['is_win_home_team'] = reg_season_data.apply(is_win, axis = 1)
pd.pivot_table(reg_season_data, index = 'home_team', values = 'is_win_home_team', aggfunc = np.sum).sort_values(by = 'is_win_home_team', ascending = False)[:1]

              is_win_home_team
home_team
Chicago Cubs                57

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [26]:
team_wins = {}
for i,line in reg_season_data.iterrows():
    if line['home_team_outcome'] == 'Loss':
        if line['away_team'] not in team_wins:
            team_wins[line['away_team']] = 0
        team_wins[line['away_team']]+=1    

pd.DataFrame([{'Team' : team, 'Count Away Wins' : team_wins[team]} for team in team_wins]).sort_values(by = 'Count Away Wins', ascending = False)[:1]

                   Team  Count Away Wins
28  St. Louis Cardinals               48

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [27]:
team_loss = {}
for i,line in reg_season_data.iterrows():
    if line['home_team_outcome'] == 'Loss':
        if line['home_team'] not in team_loss:
            team_loss[line['home_team']] = 0
        team_loss[line['home_team']]+=1
    else:
        if line['away_team'] not in team_loss:
            team_loss[line['away_team']] = 0
        team_loss[line['away_team']]+=1   
        
pd.DataFrame([{'Team' : team, 'Count Loss' : team_loss[team]} for team in team_loss]).sort_values(by = 'Count Loss', ascending = False)[:1]

              Team  Count Loss
2  Minnesota Twins         103

# 18. Зависит ли выигрыш от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [28]:
def is_win(row):
    return 1 if row['home_team_outcome'] == 'Win' else 0

reg_season_data['is_win_home_team'] = reg_season_data.apply(is_win, axis = 1)

In [29]:
covariance = pd.DataFrame(reg_season_data, columns = ['attendance','is_win_home_team']).cov().values[0][1]
correlation = covariance/ (reg_season_data['attendance'].std() * reg_season_data['is_win_home_team'].std())
correlation

0.04971115310212196

Вектор-столбец побед/проигрышей гостевой команды отличается от домашней, по факту заменой 0 на 1 и 1 на 0. Это означает, что значение корреляций этих столбцов со столбцом количества зрителей будет отличаться только знаком. Поэтому, нет смысла считать коэффициент корреляции дважды.

Показатель корреляции, близкий к нулю, означает, что выигрыш домашней либо гостевой команды не зависит от количества посетителей матча.

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [30]:
def is_loss(row):
    return 1 if row['home_team_outcome'] == 'Loss' else 0
    
reg_season_data['is_loss_home_team'] = reg_season_data.apply(is_loss, axis = 1)
pd.pivot_table(reg_season_data, index = 'day_of_week',values = 'is_loss_home_team', aggfunc = np.sum).sort_values(by = 'is_loss_home_team', ascending = False)

             is_loss_home_team
day_of_week
Sunday                     189
Tuesday                    185
Friday                     181
Saturday                   174
Wednesday                  162
Monday                     128
Thursday                   122

Домашние команды в этом сезоне больше всего проигрывали в воскресенье и вторник.

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

In [31]:
pd.pivot_table(data, index = 'temperature', values = 'total_runs', aggfunc = np.max).sort_values(by = 'total_runs', ascending = False).head()

             total_runs
temperature
76.0                 29
85.0                 24
59.0                 24
83.0                 24
79.0                 24

Неправда, наибольшее количество ранов происходит в теплую погоду. Минимальное значение 59 градусов по Фаренгейту - это 15 градусов по Цельсию. Остальные значения температур еще выше.